.addDeck {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.addFolder {
  position: absolute;
  left: 10px;
  bottom: 34px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
/* 
.popup-inner h2 {
  margin-top: 0;
}

.popup-inner input {
  margin: 10px 0;
  padding: 8px;
  width: calc(100% - 16px);
} */
/* 
.popup-inner button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/*  */
.popup-inner button:hover {
  background-color: #0056b3;
}
*/
/* 
.popup-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
} */
.folder {
  background-color: #000;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.deck {
  text-align: center;
  background-color: #fff;
  color: #fff;
  width: 200px;
  padding: 24px;
  border-radius: 10px;
  margin-left: 20px;
}
