.dialog {
  width: 40%;
  height: 60%;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ccc;
}

.dialog-title {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.dialog-close {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.dialog-body {
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dialog-input {
  height: 25px;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  outline-color: #523009;
}

.access-section {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.access-title {
  font-size: 14px;
  margin-bottom: 8px;
  color: black;
}

.access-item {
  width: 100%;
  display: flex;
  /* align-items: space-between; */
  margin-bottom: 8px;
}

.access-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 8px;
}

.access-info {
  display: flex;
  flex-direction: column;
}

.access-email {
  font-size: 14px;
  color: black;
}

.access-role {
  font-size: 12px;
  color: #888;
}

.access-icon {
  background-color: #ff4b5c;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.access-description {
  font-size: 14px;
}

.access-select {
  margin-left: auto;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.copy-link-button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.dialog-footer {
  padding: 16px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
}

.dialog-done-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
